*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border:none;
    border-radius: 5px;
    padding:5px 8px;
}
header{
    background-color: white;
    margin-bottom: 10px;
}
.button1{
    background-color: cyan;
    color:wheat
}
.button2 .text{
    color:grey
}
#icons{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.titolo{
    display: flex;
    align-items: center;
}
.immagine{
    width: 50px;
    margin-right: 10px;
}
#container{
    margin: 0 auto;
    max-width: 1200px;
    height: 80%;
    padding: 20px;
    background-color: white;
}

ul{
    list-style: none;
    padding: 1em;
}
hr{
    width: auto;
    margin-top: 5px;
}

body{
    background-color:rgba(128, 128, 128, 0.078);
}
.fa-regular.fa-circle-xmark{
    color: red;
    margin-right: 5px;
}
.fa-regular.fa-circle-check{
    color: green;
    margin-right: 5px;
}
summary{
    margin-bottom: 5px;
    margin-top: 5px;
}
.tag{
    border-radius: 7px;
    padding:2px 6px;
    display: inline-block;
    color: white;
    font-size: 12px;
    margin: 5px;
}
.celeste{
    background-color: rgb(3, 143, 229);
}
.violet{
    background-color: blueviolet;
}
.verde-acqua{
    background-color: rgb(4, 233, 156);
}
.orange{
    background-color: orange;
}
.pink{
    background-color: rgb(224, 98, 119);
}
.green{
    background-color: green;
}
